div.homePage {
    div.textConetnt {
        h1 {
            font-size: 2.2rem;
            font-weight: 500;
            padding-bottom: 1.3rem;
            font-style: normal;
        }
        p {
            font-size: 1.2rem;
            font-weight: 500;
            font-style: normal;
            width: 60%;
        }
        
        div.cards_contain {
            display: flex;
            width: 80%;

            .mb-2 {
                padding: 1rem;
                width: 40%;

                p.card_body {
                    p.card_text{
                        margin: 0;
                        padding: 1rem 0;
                        width: 100%;

                    }
                }
            }
        }

    }
}